::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: var(--primary);
    //box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-top-width: 20px;
  }

  .tooltip-caret.position-right {
    border-right-color: var(--primary);
    //box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-right-width: 20px;
  }

  .tooltip-caret.position-left {
    border-left-color: var(--primary);
    //box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-left-width: 20px;
  }

  background-color: var(--primary);
  color: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
