* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-familly: "Montserrat", sans-serif;
  --primary: #04838f;
  --secondary: #01575f;
  --lightgray: #ddd;
  --text-regular: #444;
}

body {
  font-family: var(--font-familly);
  color: var(--text-regular);
}

.container {
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  margin: auto;
  padding: 60px;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.title {
  background-color: var(--primary);
  color: white;
  border-radius: 7px;
  padding: 5px 12px;
  font-size: 25px;
  font-weight: 400;
}

@supports (display: flex) {
  @media only screen and (max-width: 720px) {
    .card-container {
      > div {
        margin-bottom: 10px;
      }
      flex-direction: column !important;
    }
  }
}

.card-container {
  flex-direction: row;
}

.card {
  & p {
    color: #7d7d7d;
    margin: 3px 0 3px 0;
  }
  padding: 7px 12px;
  border: var(--primary) 2px solid;
  border-radius: 8px;
}

.align-items-center {
  align-items: center;
}

.mx-10 {
  margin: 0 10px 0 10px;
}

.mx-20 {
  margin: 0 20px 0 20px;
}

.my-20 {
  margin: 20px 0 20px 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-auto {
  margin: auto;
}

.p-5 {
  padding: 5px;
}
